.area_book {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 1000;

  &.active {
    opacity: 1;
    visibility: visible;

    .book_container {
      transform: translateX(0);
    }
  }

  .book_step {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    >div {
      height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
    }
  }

  .book_container {
    height: 100%;
    width: 100%;
    max-width: 533px;
    background: white;
    position: relative;
    box-shadow: -5px 0px 35px rgba(255, 255, 255, 0.25);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .close_book {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .book_inner {
    padding: 40px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .book_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
    color: black;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background: black;
      left: 0;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: black;
      right: 0;
    }
  }

  .property_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 600;
  }

  .areaSize {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    position: relative;
  }

  .property_item {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #989F42;
  }

  .areaSize div {
    color: #989F42;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    margin-right: 15px;

    &:before {
      content: '[';
      position: absolute;
      left: -15px;
      top: 0px;
      color: #3E4018;
    }

    &:after {
      content: ']';
      position: absolute;
      right: -15px;
      top: 1px;
      color: #3E4018;
    }
  }

  .second_container {
    padding: 0 20px;
  }

  .second_line {
    display: flex;
    align-items: center;

    justify-content: space-between !important;
    width: 100%;
    position: relative;
  }

  .book_type {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;

    .area_number {
      color: #B59981;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #5B5D2C;
      border-radius: 50%;
      width: 12px;
      height: 12px;
    }

    .title {
      color: #989F42;
    }
  }

  .type_line {
    margin-top: 30px;
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: space-between;
  }

  .type_item {
    width: 100%;
    display: flex;
    flex-direction: column;

    .image {
      margin: 0 auto;
      width: 118px;
      position: relative;
    }

    ul {
      list-style-type: disc;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 20px auto;

      li {
        padding: 0;
        width: fit-content;
        width: 145px;
        text-align: left;
        white-space: nowrap;
      }
    }
  }

  .type_desc {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;

    span {
      font-size: 28px;
      padding: 15px 7px;
      font-weight: 600;
      color: #989F42;
    }
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #5B5D2C;
      text-align: center;
    }
  }

  .select_type {
    background: #8D9744;
    font-size: 14px;
    color: white;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    transition: background 0.3s ease;

    &:hover {
      background: #5B5D2C;
    }
  }

  .step_desc {
    font-size: 13px;
    margin-top: 30px;
  }

  .second_step_btn {
    background: #989F42;
    transition: 0.3s ease;
    color: white;
    width: 100%;
    max-width: 220px;
    height: 47px;
    min-height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.6;

    &:hover {
      background: #5B5D2C;
    }
  }

  .third_line {
    background: #3E4018;
    margin: 20px auto;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 22px;
    color: #989F42;

    span {
      color: #989F42;
    }

    .price {
      margin-left: 20px;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    .areaSize {
      color: white;

      div {
        color: white;

        &::before {
          color: #989F42;
        }

        &::after {
          color: #989F42;
        }
      }
    }
  }

  .form_container {
    margin-top: 50px;

    input {
      width: 100%;
      height: 42px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-size: 13px;
      padding: 0 20px;
      user-select: none;
      outline: none;
    }

    textarea {
      width: 100%;
      height: 90px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-size: 13px;
      padding: 10px 20px;
      resize: none;
      outline: none;
      user-select: none;
    }

    .submit_btn {
      background: #989F42;
      transition: 0.3s ease;
      color: white;
      width: 100%;
      max-width: 220px;
      height: 47px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 30px;
      font-size: 16px;
      line-height: 1.6;

      &:hover {
        background: #5B5D2C;
      }
    }
  }

  .form_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin-bottom: 20px;
  }

  .step_footer {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;

    a {
      color: #989F42;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #5B5D2C;
      }
    }
  }
}

.step_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;

  .last_image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }


  .main_title {
    color: #5B5D2C;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
  }

  .second_title {
    margin-top: 20px;
    color: #979F42;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .button_line {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: flex-end;
  }

  .description {
    font-size: 13px;
    text-align: center;
    margin-top: 40px;
  }

  button {
    background: #353D0E;
    transition: 0.3s ease;
    color: white;
    max-width: 230px;
    width: 100%;
    height: 47px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.6;

    &:hover {
      background: #5B5D2C;
    }
  }

}

.book_fade {
  transition: opacity 0.25s;
  opacity: 0;
}

.book_fade-in {
  opacity: 1;
}

.book_fade-out {
  opacity: 0;
}

@media (max-width: 1199px) {
  .area_book {
    .book_inner {
      padding: 36px 15px;
    }

    .book_type {
      margin-top: 10px;
      gap: 10px;
      font-size: 24px;
    }

    .type_desc span {
      font-size: 20px;
      padding: 3px 5px;
    }

    .type_item ul {
    padding-left: 25px;
    }
    .select_type{
      margin-top: 15px;
    }
    .type_desc {
      margin-top: 10px;
      font-size: 14px;
    }
    .third_line {
    background: #3E4018;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    }
    .step_3_desc{
      margin-top: 20px;
    }
    .form_container {
      margin-top: 30px;

      input,
      textarea {
        font-size: 12px;
      }

      .submit_btn {
        max-width: 180px;
        height: 40px;
        font-size: 14px;
      }
    }
    .form_row{
      gap: 20px;
    }
  }
  .embla.simple_area_slider .slide_image {
    height: 240px;
  }
  .step_4 .main_title {
    color: #5B5D2C;
    font-size: 24px;
    margin-top: 20px;
  }
  .step_4 .description{
    margin-top: 20px;
  }
}