.homes_page {
  padding-bottom: 80px;

  .homes_container {
    width: 100%;
  }

  .homes_results {
    flex: 1;
    width: 100%;
  }

  .load_more_btn {
    border: none;
  }

  .price_inputs {
    label {
      flex-direction: column;
      align-items: flex-start !important;
    }
  }

  .price_slider {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .price_inputs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      label {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      input {
        width: 100px;
        height: 38px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
        padding: 0 10px;

        &:focus {
          outline: none;
          border-color: black;
        }
      }
    }

    .range_track {
      position: relative;
      height: 3px !important;
      background-color: #ccc !important;
      border-radius: 3px;
    }

    .range_thumb {
      background-color: black !important;
      border-radius: 50%;
      cursor: pointer;
      border: none !important;
      width: 16px !important;
      height: 16px !important;
      box-shadow: none !important;
    }
  }

  .homes_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 30px;
  }

  .home_card {
    position: relative;
    width: 100%;
    border: 1px solid #e8e6e6;
    border-radius: 8px;
    padding: 10px;
    max-width: 278px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
  }

  .loading_spinner {
    width: 25px;
    height: 25px;
    border: 3px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .mortage_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .title {
      font-size: 12px;
      color: #8B94A8;
    }

    .desc {
      font-size: 11px;
      color: #027BFB;
    }
  }

  .home_image {
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
  }

  .cart_title {
    font-size: 16px;
    font-weight: 600;
  }

  .card_content {
    padding: 10px 7px;
  }

  .cart_price {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    gap: 10px;
    white-space: nowrap;
    position: relative;
  }

  .home_price {
    font-size: 16px;
    font-weight: 600;
    color: #52542c;
  }

  .old_price {
   font-size: 12px;
    font-weight: 400;
    color: #bba082;
    padding-top: 2px;
    text-decoration: line-through;
    position: absolute;
    right: -2px;
    top: -33px;
  }

  .home_type {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: #8B94A8;
    margin-top: 10px;
    justify-content: space-between;
  }

  .filter_toggle {
    margin-top: 20px;
    background: #53562d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: none;
    width: 150px;
  }

  .filter_close {
    display: none;
  }
}

@media (max-width: 1199px) {
  .homes_page {
    .homes_list {
      grid-template-columns: 1fr 1fr;
    }

    .home_card {
      max-width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .homes_page {
    .cart_price {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      margin-top: 5px;

      .home_price {
        font-size: 16px;
      }

      .old_price {
        font-size: 14px;
      }
    }

    .mortage_line {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      .title {
        font-size: 12px;
      }

      .desc {
        font-size: 11px;
      }
    }
  }

}

@media (max-width: 767px) {
  .homes_container {
    margin-top: 20px;
  }

  .homes_page {
    .filter_toggle {
      display: block;
    }

    .filter_close {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: 24px;
      padding: 10px 20px;
      background: #e7e6e6;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .filter_block {
      position: fixed;
      top: 75px;
      background: white;
      z-index: 1000;
      width: 100%;
      border-top: 2px solid #ccc;
      height: 100%;
      max-width: none;
      transition: 0.5s;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      left: -100vw;
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100dvh - 75px);
      padding-bottom: 20px;

      &.filter_opened {
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .homes_page {
    padding-bottom: 50px;

    .homes_list {
      grid-template-columns: 1fr;
    }

    .home_card {
      max-width: 100%;
    }
  }
}